.intro{
    background-repeat: no-repeat;
    background-image: url("img/bck5.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
}
.topnav{
    overflow: hidden;
    background: transparent;
    padding-left: 70px;
}
.topnav a{
    text-align: center;
    padding-left: 60px;
    padding-bottom: 30px;
    color: rgb(41, 0, 0);
}
.intro h1{
    float: left;
    color: darkred;
    font-family: fantasy;
}
.welcome h2{
    padding-top: 20%;
    text-align: center;
    font-family: fantasy;
    color: rgb(1, 1, 34);
}
.welcome p{
    text-align: center;
    color: rgb(0, 0, 75);
    font-family: fantasy;
}