.intro{
    background-repeat: no-repeat;
    background-image: url("img/bck5.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
}
.topnav{
    overflow: hidden;
    background: transparent;
    padding-left: 25%;
    position: fixed;
}
.topnav a{
    text-align: center;
    padding-left: 60px;
    padding-bottom: 30px;
    color: rgb(41, 0, 0);
}
.intro h1{
    float: left;
    color: darkred;
    font-family: fantasy;
    position: fixed;
}
.welcome h2{
    padding-top: 20%;
    text-align: center;
    font-family: fantasy;
    color: rgb(1, 1, 34);
}
.welcome p{
    text-align: center;
    color: rgb(0, 0, 75);
    font-family: fantasy;
}
.abt h1{
    text-align: center;
    color: brown;
    padding-top: 5%;
}
#bdy img{
    height: 350px;
}
#para p{
    padding-top: 25%;
    padding-left:1px;
}
#menu h1{
    text-align: center;
    color: rgb(139, 38, 1);
    padding-top: 5%;
}
#menu .box .imgBox img{
    overflow: hidden;
    height: 250px;
    transition: transform 2s;
}
#menu .box .imgBox img#one{
    width:373px;
}
#menu .box .text{
    position: absolute;
    top: 10px;
    bottom:10px;
    right:10px;
    left:30px;
    background: rgba(0,0,0,0.8);
    transform: scaleY(0);
    transition: transform .5s;
    color: white;
    border:3px solid white;
    text-align:center;
    padding:50px;
}
#menu .box:hover .text{
    transform:scaleY(1)
}
#ttl{
    display:none;
}
#orderNow{
    text-align: center;
    color: darkred;
}
#orderNow h1{
    padding-top: 8%;
}
form#now{
    background-color: black;
    padding-left: 30%;
    padding-right: 30%;
    color: whitesmoke;
}